!!! 5
%html
  %head
    %meta(charset="utf-8")
    %title= "Online notes"
    %link(href="/css/bootstrap.css" rel="stylesheet" media="screen")
  %body
    = session[:user] ? (haml :logged_in_navigation, locals: {:username => locals[:username]}) : (haml :logged_out_navigation)
    = yield
