%nav.navbar.navbar-inner.navbar-inverse
  %ul.nav.navbar-nav
    %li
      %a{ href: "/user/#{locals[:username]}" } Home
    %li
      %a{ href: "/notes" } Notes
    %li
      %a{ href: "/notebooks" } Notebooks
    %li
      %a{ href: "/tags" } Tags
    %li
      %a{ href: "/logout" } Logout

