%nav.navbar.navbar-default.navbar-inverse.navbar-static-top
  %ul.nav.navbar-nav
    %li
      %a{ href: "/" } Home
    %li
      %a{ href: "/notes" } Notes
    %li
      %a{ href: "/notebooks" } Notebooks
    %li
      %a{ href: "/tags" } Tags
    %li
      %a{ href: "/logout" } Logout

