.text-center
  %h1 Login page

  = if locals[:authentication_error] #FIXME
    %p.spacer Incorrect login data. Try again

  %form.horizontal{ method: "post", role: "form"}
    .form-group
      %label{ for: "username" } Username:
      %input.form-control{ id: "username", type: "text", name: "username" }
    .form-group
      %label{ for: "password" } Password:
      %input.form-control{ id: "password", type: "password", name: "password" }
    %button.btn{ type: "submit" } Login

  %p.spacer
    No account?
    %a{ href: "/register" } Register
