.text-center
  %h1.text-info Notes

  - if session[:user]
    .text-center
      - if @notes.nil?
        %p.lead.text-warning You have not created any notes yet.

      - else
        %ul
          - for note in @notes
            %li.lead
              %a{href: "/note/#{note.id}"}
                = note.title

      .btn-lg.btn-default.btn
        %a{ href: "/notes/create"} Create a new note

  - else
    .text-center
      %p.lead.text-warning
        Please
        %a{ href: "/login"} login
        or
        %a{ href: "/register"} register
        to proceed
