.text-center
  %h1 Register

  - if locals[:registration_error]
    %p.spacer Incorrect register data. Try again

  %form.horizontal{ method: "post", role: "form"}
    .form-group
      %label{ for: "username" } Username:
      %input.form-control{ id: "username", type: "text", name: "username" }
    .form-group
      %label{ for: "email" } Email:
      %input.form-control{ id: "email", type: "text", name: "email" }
    .form-group
      %label{ for: "password" } Password:
      %input.form-control{ id: "password", type: "password", name: "password" }
    .form-group
      %label{ for: "password_confirmation" } Confirm password:
      %input.form-control{ id: "password_confirmation", type: "password", name: "password_confirmation" }
    %button.btn{ type: "submit" } Register
